<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaySDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A05147991E0BAB4100DD0D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05147B21E0BAB4100DD0D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05147BD1E0BAB4100DD0D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
